.load-more {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  margin: 32px auto 44px;
  display: none;
}

.load-more:hover {
  background-color: #6c8cff;
}

.load-more.is-visible {
  display: block;
}
